.navigation {
  display: flex;
  background-color: #b6ab56;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

.nav-menu li a:hover {
  background-color: #ddd;
  color: black;
}

.nav-menu li .active {
  background-color: #ddd;
  color: black;
}

.navigation button {
  font-size: 1.2rem;
}

.book-details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

.book-details-page img {
  width: 250px;
}
