.book {
  position: relative;
  background-color: white;
  border-radius: 1rem;
  height: 600px;
  width: 250px;
  padding: 20px;
  text-wrap: wrap;
}

.book button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: linear-gradient(45deg, #d8d6e0, #b6ab56);
  border: solid white;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 1rem;
  display: grid;
}

.book-cover {
  height: 275px;
  border-radius: 1rem;
}
